extends layout

block content
	h1 Reset password
	form(action="/forgotPassword", method="post")
		label(for="email") Please enter your email address
		input(type="email", name="email")
		input(type="submit", value="Submit")
	p A password reset link will be emailed to the provided address if a matching account is found.
