extends layout

block content
	h1 Register
	form(action="/register", method="post")
		label(for="username") Username
		input(type="text", name="username")
		label(for="email") Email
		input(type="email", name="email")
		label(for="firstName") First name
		input(type="text", name="firstName")
		label(for="lastName") Last name
		input(type="text", name="lastName")
		label(for="password") Password
		input(type="password", name="password")
		label(for="confirmPassword") Confirm password
		input(type="password", name="confirmPassword")
		input(type="submit", value="Submit")
