extends layout

block content
	h1 Reset password
	form(action="/resetPassword", method="post")
		label(for="password") New password
		input(type="password", name="password")
		label(for="confirmPassword") Confirm password
		input(type="password", name="confirmPassword")
		input(type="submit", value="Submit")
		input.displayNone(type="text", name="token" value=token)
		input.displayNone(type="text", name="user" value=userGet)
	p The password of your account will be reset if a suitable account is found.
